@import "bootstrap/bootstrap.less";

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

@footer-height: 100px;

* {
  margin: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (0 - (@footer-height + 20));
  background-color: @white;
}
footer,
.push {
  height: @footer-height;
}




